html{
    padding: 10px;
    
}

header{
    top:0;
    left: 0;
    right: 0;
    /* position: fixed; */
    width: auto;
    background-color: rgb(202, 141, 91);
    height: 100px;
    border-radius: 20px;
}

header img{
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: 150px;
    height: auto;
} 
nav{ 
    left: 0;
    right: 0;
}
nav li{
    margin: 5px;
    float: right;
    padding-right: 10px;
    
}
body {
    color: rgba(9, 21, 44, 0.925);
    background-size: cover;
    background-color: rgba(218, 101, 101, 0.671);
    font-family: sans-serif;
    border-color: rgb(59, 58, 68);
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;

}
.family img {
    margin-left: 50%;
    margin-right: auto;
    padding: 30px;
    width: auto;
    height: 350px;
    border-radius: 50%;
    float: left;

}
.description{

    color: rgb(156, 106, 13);
    font-weight: 600;
    float: right;
    padding: 40px;
    
}